<div id="welcome">
    <h1>Buzz-In</h1>
    <p>
        <label for="player-name">Your name</label>
        <input type="text" id="player-name" required></p>
    <p>
        <label for="team-select">Team</label>
        <select id="team-select">
            <option value="">Choose one</option>
            {{#each team}}
                <option>{{this}}</option>
            {{/each}}
        </select>
    </p>

    <button id="btn-join">Join</button>
</div>

<div id="buzzer">
    <button>Buzz-In!</button>
</div>

<script src="/js/client.js"></script>
