<script>
    var socket = io();

    socket.on('connect', function () {
        socket.emit('host-join', {
          password: '{{ password }}'
        });

        socket.on('player-joined', function (data) {
            console.log('player joined', data);
        });

        socket.on('buzzer', function (data) {
            console.log('buzzer', data);
        });
    });
</script>

<h1>Buzz-In</h1>
<h2>Host's Control Panel</h2>
