<script src="js/host.js"></script>

<h1>Buzz-In</h1>
<h2>Host's Control Panel</h2>

<h3>Player List</h3>

<ol id="buzzer-list">
</ol>

<ol id="player-list">
</ol>

<script>
    document.addEventListener('DOMContentLoaded', HostApp.init.bind(this, '{{ password }}'));
</script>
